body{
    font-family:Segoe UI,sans-serif;
    margin:4px 4px;
    background:#547b8e;
    font-size:14px;
}
fieldset{
    background:#FFFFFFE0;
    margin:0;margin-bottom:6px;
    padding:2px 8px;
    border: 1px solid #547b8eC0;
}
legend{
    background:#FFFFFFE0;
    border: 1px solid #547b8e90;
    font-weight:bold;
    padding:1px 3px;
    
}
input,button{
    margin:1px;
}
hr{
    margin:4px 0;
    padding:0;
    border:none;
    border-bottom:1px solid #547b8eC0;
}
table#seq{border-collapse:collapse;display:inline-table;vertical-align:middle;}
table#seq td{font-size:14px;text-align:center;width:24px;border:1px solid #AAA;}
div[seq] > button{vertical-align:middle;width:2em}

table.edit{font-size:12px;border-collapse:collapse;vertical-align:middle;margin:8px;padding:8px;background: #2c3e5010;}

td{
    font-family:monospace;
    border:1px solid #CCC;
    width:32px !important;
    height:20px;
    padding:2px;
    text-align:center;white-space: nowrap;

}

td.aa{background:#DDD} td.aa:hover{background:#D3D3D3}
td.bb{background:#EEE} td.bb:hover{background:#E3E3E3}