.main {text-align:center;background:#FFF;min-height:100%;}
body{
  
  width:1080px; margin:auto;
    font-family:Segoe UI,sans-serif;
    background:#547b8e;
}
h1 {font-weight:bold;text-align:center;}
hr {
  width:90%;
background:#2c3e50;
height:3px;
margin-top:0;margin-bottom:0;
border:0;
padding:0.5px;
border-radius:9px;
}
.slider {
  width:90%;
  border-radius:8px;
  background:#547b8e20;
  margin:auto;
  margin-top:2px;margin-bottom:2px;
  padding:1px;
  border-top:1px solid #00000010;
  border-bottom:1px solid #00000020;
}
.slider>input {
    margin:0;
    outline: none;
    width:750px;
  -webkit-appearance: none;
  height: 5px;
  background: #b7bcbf;
    border-bottom:1px solid #00000020;
}
.slider>input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 20%;
  background: #2c3e50c0;
  cursor: pointer;

}
.slider>input::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 20%;
  background: #2c3e50c0;
  cursor: pointer;
}
::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

.slider>input::-webkit-slider-thumb:hover {
    background: #2c3e50;
}
.slider>span.lab {
    text-align:right;
   display: inline-block;
   width:150px;
   margin-right:4px;
   font-weight:bold;
   font-size:14px;
}
.slider>span.val {
  display: inline-block;
font-weight:bold;
  width: 50px;
  font-size:14px;
  color: #fff;
  line-height: 21px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  margin-left:5px;
  margin-bottom:2px;

}

input#patch {
  font-size:11px;
  margin:6px 1px;
  padding:12px 4px;
  width:90%;
  height:40px;
}
button {
  height:40px;
    margin:6px 1px;
  padding:12px 4px;
}